:root{
  --nyanza: #EAF9D9;
  --blueMunsell:#2292A4;
  --chocolateWeb: #D96C06;
  --darkByzantium: #542344;



}

body {
  background-color: var(--nyanza);
  color: var(--darkByzantium);
  width: auto;
  
}

header {
  position:sticky;
  height:200px;
  display:flex;
  width:auto;
  background-color: var(--blueMunsell);
  padding:10px 10px;
  margin-top:10px

}
header div{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  width:100%;
  flex:1 1 0;
}
img{
  max-width: 250px;
  /* max-width: 100%; */
  height:auto;
  border: 10px solid var(--chocolateWeb);
  border-radius: 100%;
}

h1{
  color: var(--nyanza);
  margin-left: -5px;
  background-color: var(--chocolateWeb);
  border-radius: 0px 10px 10px 0px;
  width:100%;
  font-size: 40px;
  padding:10px 10px 10px 5px;
  flex-wrap: nowrap;

  }

.navlink{
  text-decoration: underline;
  color: var(--darkByzantium);
  padding-left:10px;
  font-size:25px;
  justify-content: flex-end;
  flex-wrap: nowrap;
}

nav {
  width:100%;
  flex-wrap:nowrap;
  justify-content: flex-end;
}

nav ul{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
}

main {
  margin-top: 20px;
}
.subheader{
  color: var(--chocolateWeb);

  font-size: 30px;
  padding:10px;

  }


.bio{
  padding:10px;
  background-color: var(--nyanza);

}

.container{
  width:100%;
  height:auto;
  background-color: var(--nyanza);

  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

.cardContainer {
  display:flex;
  flex-direction:column;
  align-items: center;
  /* max-width:250px; */
  width:33%;
  height: auto;
  margin: 10px;
  padding: 10px;
  background-color: #D96C06;
  flex:0.05 1 250px;
}

.cardHeader{
  font-size: 30px;
  color:var(--nyanza);
  flex-wrap: wrap;

}
.cardDetail{
  /* This is already inheriting width:auto from body */
  flex-wrap: nowrap;
  padding: 3px;

  
}
.cardContent{
  background-color: var(--blueMunsell);
  height:100%;
  width:100%;
  padding: 0px;
  color:var(--nyanza);
  border: 0;
  border-radius: 0;
  /* align-items:center; */
  flex:2 1 100%;
}

footer {
}

/* @media screen and (max-width: 968px) {
  main,
  nav {
    flex-direction: column;

  }
}
@media screen and (max-width: 768px) {
  main,
  nav {
    flex-direction: column;
  }
} */
