:root{
  --bgcolor: #323840;
  --tpcolor:#974f9f;
  --bpcolor: #6C4674;
  --pgradient: background-image: linear-gradient ()


}

body {
  background-color: var(--bgcolor);
  color: #fff;
  width: auto;
  
}

header {

}

main {
}

section{
}

article{

}

.container{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;


}

.card {

  height: 250px;
  margin: 10px;
  padding: 10px;

}

h1{
color: var(--tpcolor);
border: 2px solid grey;
}
.purple-box{
background-color: var(--bpcolor);
}

footer {
}

@media screen and (max-width: 968px) {
  main,
  nav {
    flex-direction: column;

  }
}
@media screen and (max-width: 768px) {
  main,
  nav {
    flex-direction: column;
  }
}
